<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/logo2.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    {{>header}}
    <div class="main-content">

        <p>{{>error}}</p>
    </div>
</body>
{{>footer}}

</html>