<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/logo2.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/mojos.jpg">
        <p>This site is blah blah blah....</p>
    </div>

    {{>footer}}
</body>

</html>